# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [1]:
import pandas as pd
import numpy as np

recipes = pd.read_csv('data/recipes_sample.csv', delimiter=',')
reviews = pd.read_csv('data/reviews_sample.csv', delimiter=',')

In [2]:
pd.read_csv('data/recipes_sample.csv', delimiter=',')

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [3]:
pd.read_csv('data/reviews_sample.csv', delimiter=',')

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [4]:
print(f"Таблица recipes:\nКоличество строк: {recipes.shape[0]}")
print(f"Количество столбцов: {recipes.shape[1]}")
print(f"Тип данных каждого столбца:\n{recipes.dtypes}")
print()
print(f"Таблица reviews:\nКоличество строк: {reviews.shape[0]}")
print(f"Количество столбцов: {reviews.shape[1]}")
print(f"Тип данных каждого столбца:\n{reviews.dtypes}")

Таблица recipes:
Количество строк: 30000
Количество столбцов: 8
Тип данных каждого столбца:
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

Таблица reviews:
Количество строк: 126696
Количество столбцов: 6
Тип данных каждого столбца:
Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [5]:
print('Таблица recipes:')
print(recipes.isnull().sum())
print()
print(recipes.isnull().sum(axis=1))
print()
print("Доля:", np.count_nonzero(recipes.isnull().sum(axis=1)) / recipes.shape[0])

Таблица recipes:
name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64

0        1
1        2
2        1
3        2
4        1
        ..
29995    0
29996    1
29997    2
29998    2
29999    0
Length: 30000, dtype: int64

Доля: 0.5684666666666667

In [6]:
print('Таблица reviews:')
print(reviews.isnull().sum())
print()
print(reviews.isnull().sum(axis=1))
print()
print("Доля:", np.count_nonzero(reviews.isnull().sum(axis=1)) / reviews.shape[0])

Таблица reviews:
Unnamed: 0     0
user_id        0
recipe_id      0
date           0
rating         0
review        17
dtype: int64

0         0
1         0
2         0
3         0
4         0
         ..
126691    0
126692    0
126693    0
126694    0
126695    0
Length: 126696, dtype: int64

Доля: 0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [7]:
print('Таблица recipes:')
print(f"Среднее значения столбца 'минуты': {recipes['minutes'].mean()}")
print(f"Среднее значения столбца 'шаги': {recipes['n_steps'].mean()}")
print(f"Среднее значения столбца 'ингредиенты': {recipes['n_ingredients'].mean()}")

Таблица recipes:
Среднее значения столбца 'минуты': 123.35813333333333
Среднее значения столбца 'шаги': 9.805582137161085
Среднее значения столбца 'ингредиенты': 9.008285984848484

In [8]:
print('Таблица reviews:')
print(f"Среднее значения столбца 'рейтинг': {reviews['rating'].mean()}")

Таблица reviews:
Среднее значения столбца 'рейтинг': 4.410802235271832

1.5 Создайте серию из 10 случайных названий рецептов.

In [9]:
recipes.sample(n=10)['name']

27350                         the best chicken saltimbocca
28809                                     venison stir fry
29559                         ww 2 point turkey meatloaves
21947                      quick mexican cheese enchiladas
8495                                          crispy chips
1397                    auntie theresa s canadian porridge
9696                                                 duros
18714    no dough meat crust  pizza for the low carb di...
9232                               deelish german pancakes
22010                                 quickie granola bars
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [10]:
reviews['Unnamed: 0'] = list(range(len(reviews)))
print(reviews)

        Unnamed: 0     user_id  recipe_id        date  rating  \
0                0       21752      57993  2003-05-01       5
1                1      431813     142201  2007-09-16       5
2                2      400708     252013  2008-01-10       4
3                3  2001852463     404716  2017-12-11       5
4                4       95810     129396  2008-03-14       5
...            ...         ...        ...         ...     ...
126691      126691     1270706     335534  2009-05-17       4
126692      126692     2282344       8701  2012-06-03       0
126693      126693      689540     222001  2008-04-08       5
126694      126694  2000242659     354979  2015-06-02       5
126695      126695      463435     415599  2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [19]:
rslt_df = recipes[(recipes['minutes'] <= 20) | (recipes['n_ingredients'] <= 5)]

print(rslt_df)

                                       name      id  minutes  contributor_id  \
1        Healthy for them  yogurt popsicles   67664       10           91970
5                  Mennonite  corn fritters   44045       15           41706
7                Say what   banana sandwich   95926        5          118163
11            250 00 chocolate chip cookies  118843       20          145599
14                 Add in anything  muffins  149593       15           89831
...                                     ...     ...      ...             ...
29975                  Zucchini tomato toss   41095       15           47579
29976                         Zucchini tots  505053       20          798181
29979  Zucchini with bell pepper and tomato  363362       13          344321
29980  Zucchini with jalapeno monterey jack  320622       10          305531
29983             Zucchini with serrano ham  162411       15          152500

       submitted  n_steps                                        description  \
1     2003-07-26      NaN  my children and their friends ask for my homem...
5     2002-10-25      NaN  ok - my heritage has been revealed. :) these a...
7     2004-07-20      4.0             you just have to try it to believe it.
11    2005-04-24      NaN        these are great! the perfect name for them!
14    2005-12-28      NaN  this is a never-fail muffin recipe, it's a bla...
...          ...      ...                                                ...
29975 2002-09-24      3.0  i tried a similar recipe but altered most of i...
29976 2013-07-31      NaN  'the happy homemaker blog' shared this recipe ...
29979 2009-03-29     19.0  the weather has been turning warmer and i have...
29980 2008-08-20      3.0                                  simple and yummy!
29983 2006-03-31      6.0  this dish is from tim malzer, a german chef wh...

       n_ingredients  description_length  name_word_count
1                NaN               255.0                5
5                NaN               149.0                3
7                NaN                38.0                4
11              13.0                43.0                5
14               9.0               240.0                4
...              ...                 ...              ...
29975           10.0               133.0                3
29976            NaN               122.0                2
29979            8.0               319.0                6
29980            3.0                17.0                5
29983            5.0               136.0                4

[9585 rows x 10 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [35]:
recipes['submitted']= pd.to_datetime(recipes['submitted'])
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  datetime64[ns]
 5   n_steps         18810 non-null  float64
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 1.8+ MB

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [13]:
recipes[recipes['submitted'].dt.to_period("Y") >= '2010']

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
8,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0
13,blepandekager danish apple pancakes,503475,50,128473,2013-07-08,10.0,this recipe has been posted here for play in z...,NaN
36,5 minute bread pizza,487173,45,2406227,2012-09-19,30.0,my son recently showed me a recipe for artisan...,8.0
39,bacon cheeseburger and fries soup,447429,60,1355934,2011-01-26,NaN,"my son asked for cheeseburger soup, and having...",17.0
47,full cool macaroni and cheese,463219,25,383346,2011-08-28,8.0,a recipe from ricardo that is popular with kid...,11.0
...,...,...,...,...,...,...,...,...
29965,zucchini sausage casserole,472482,80,447199,2012-01-20,13.0,this was a real hit with my family! this recip...,NaN
29976,zucchini tots,505053,20,798181,2013-07-31,NaN,'the happy homemaker blog' shared this recipe ...,NaN
29992,zucchini courgette soup good for weight watc...,415406,45,485109,2010-03-04,5.0,this is a favourite winter warmer. by british ...,NaN
29994,zuppa by luisa,464576,70,226863,2011-09-20,14.0,this soup is a hearty meal! from luisa musso.,17.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [81]:
recipes['description_length'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,8,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,5,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,7,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,3,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,8,587.0
...,...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,8,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,4,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,5,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,2,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,7,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [82]:
recipes['name'] = recipes['name'].str.capitalize()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,8,330.0
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,5,255.0
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,7,39.0
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,3,154.0
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,8,587.0
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,8,484.0
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,4,286.0
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,5,311.0
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,2,648.0
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,7,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [83]:
recipes['name_word_count'] = recipes['name'].str.findall(r'(\w+)').str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,8,330.0
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,5,255.0
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,7,39.0
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,3,154.0
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,8,587.0
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,8,484.0
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,4,286.0
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,5,311.0
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,2,648.0
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,7,125.0

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [84]:
print(recipes.groupby('contributor_id').size())
print('\n\n')
print(recipes.groupby('contributor_id').size().nlargest(1))

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Length: 8404, dtype: int64



contributor_id
89831    421
dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [85]:
reviews.groupby('recipe_id').agg({'rating': ['mean']}).reset_index()

      recipe_id    rating
                     mean
0            48  1.000000
1            55  4.750000
2            66  4.944444
3            91  4.750000
4            94  5.000000
...         ...       ...
28095    536547  5.000000
28096    536610  0.000000
28097    536728  4.000000
28098    536729  4.750000
28099    536747  0.000000

[28100 rows x 2 columns]

In [86]:
recipes['id'].isin(reviews['recipe_id']).value_counts()

True     28100
False     1900
Name: id, dtype: int64

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [87]:
recipes.groupby(pd.Grouper(key='submitted', axis=0, freq='2Y')).size()

submitted
1999-12-31     275
2001-12-31     693
2003-12-31    4978
2005-12-31    5283
2007-12-31    7902
2009-12-31    6992
2011-12-31    2460
2013-12-31    1149
2015-12-31     181
2017-12-31      63
2019-12-31      24
Freq: 2A-DEC, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [88]:
merged_df = pd.merge(recipes[['id', 'name']], reviews[['recipe_id', 'user_id', 'rating']],
                     left_on = 'id', right_on = 'recipe_id', how='inner').drop(columns = ['recipe_id'])
merged_df

            id                                    name  user_id  rating
0        44123   George s at the cove  black bean soup   743566       5
1        44123   George s at the cove  black bean soup    76503       5
2        44123   George s at the cove  black bean soup    34206       5
3        67664      Healthy for them  yogurt popsicles   494084       5
4        67664      Healthy for them  yogurt popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco soup   305531       5
126692  486161                             Zydeco soup  1271506       5
126693  486161                             Zydeco soup   724631       5
126694  486161                             Zydeco soup   133174       5
126695  298512  Cookies by design   cookies on a stick   804234       1

[126696 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [89]:
merged_count = pd.merge(recipes[['id', 'name']], reviews[['recipe_id']], left_on = 'id', 
                        right_on = 'recipe_id').drop(columns = ['id'])
#merged_df.groupby('id').size()
#merged_count['review_count'] = list(reviews.groupby('recipe_id').size().reset_index().values[:, 1])
merged_count
reviews.groupby('recipe_id').size().reset_index().values[:, 1]

array([ 2,  4, 18, ...,  1,  4,  4], dtype=int64)

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [93]:
sorted_rec = recipes.sort_values(by = 'name_word_count', ascending = False)
sorted_rec.to_csv('recipes_sorted')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.